h1 , h2 {
    color: #f00000;}
}

body {
    background-color: #ffffff;
    color: #816603;
}


p , ul , ol , table {
    color: #816603;
}


a:link {color: #000000;}

a:visited {color: #00ffdd;}

a:hover {color:#000000}

nav {
    background-color:ghostwhite;
    padding: 10px;
    margin-bottom: 30px;
}
 
nav a:link {
    color: #f38200;
}

nav a:visited {
    color: #f00000;
}

nav a:hover {
    background-color:ghostwhite;
}

.footerquote {float: right;
}

.clear {clear:both}

.address {float: left;}

.box1 {background-color: cadetblue;
        margin: 30px;
        padding: 20px;   
        border-radius: 1em; 
}

.box2 {display: flex;
        margin-top: 50px;
        background-color: cadetblue;
        margin: 30px;
        padding: 20px;
        border-radius: 1em;
}

.form , .map {flex: 1;}

.map {max-width: 100%;}

.homeimage {max-width: 100%;}

.box2 {flex-wrap: wrap;}

@media only screen and (max-width: 600px) {
    nav a {
        display: block;
        width: 100%;
        padding: 8px;
    }
    span {display: none;}
}

#skip {
    position: absolute;
    left: -999px;
    background-color: white;
    border: 1px solid black;
}

#skip:focus {
    position: absolute;
    left: 10px;
}