<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <title>CSS Intro</title>
            <style>
            body {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
                h1, h2 {
                    color: darkred;
                }
                h1 {
                    font-size: 2em;
                }
                h2 {
                    font-size: 1.5em;
                }
                .evenrow {
                    background-color:gray;
                }
            </style>
        </head>
</html>